<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- FACEBOOK -->
    <meta property="og:type" content="profile"/>
    <meta property="profile:first_name" content="Вениамин"/>
    <meta property="profile:last_name" content="Чеботарев"/>
    <meta property="profile:username" content="Benjamin"/>
    <meta property="og:title" content="Веб студия '7 утра'"/>
    <meta property="og:description" content="Создание сайтов от 70$ - Лендинги, интернет - магазины, веб приложения"/>
    <meta property="og:image" content="http://7-am.ru/images/logo.jpg"/>
    <meta property="og:url" content="http://7-am.ru"/>
    <meta property="og:site_name" content="Веб студия '7 утра"/>
    <meta property="og:see_also" content="http://www.7-am.ru"/>
    <meta property="fb:admins" content="100007546444647"/>
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>
    
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
  </head>
  
  <body class="blog">
    <%= partial 'layouts/nav' %>
    <div class="main container">


      <%= yield %>

      <hr>
    <h2>Еще записи</h2>
    <br>
    <% page_articles.each_with_index do |article, i| %>
    <h4><%= link_to article.title, article %> 
    <small>
    <%= article.date.strftime('%e %b') %>
    </small></h4>
    <%= article.summary(90, '...') %>
    <%= link_to 'Читать', article, class: 'btn btn-default btn-xs' %>
    <hr>
  <% end %>
    </div>

  </body>
</html>