<% provide(:title, @project.name ) %>

<h3>
  <%= @project.name %>
</h3>

<p><b>
  <%= @project.body %>
</b></p>

<p>
  <%= link_to 'Посмотреть сайт', @project.site_url, target: '_blank' %>
</p>

<p>
  <strong>Компания:</strong>
  <%= @project.client.company %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
